Exam/Exam.Admin/bin/*
Exam/Exam.Admin/obj/*
Exam/Exam.Api/bin/*
Exam/Exam.Api/obj/*
Exam/Exam.Business.Test/bin/*
Exam/Exam.Business.Test/obj/*
Exam/Exam.Business/bin/*
Exam/Exam.Business/obj/*
Exam/Exam.Core/bin/*
Exam/Exam.Core/obj/*
Exam/Exam.Data/bin/*
Exam/Exam.Data/obj/*
Exam/Exam.Domain/bin/*
Exam/Exam.Domain/obj/*
Exam/Exam.IService/bin/*
Exam/Exam.IService/obj/*
Exam/Exam.Service/bin/*
Exam/Exam.Service/obj/*
Exam/Exam.WebCommon/bin/*
Exam/Exam.WebCommon/obj/*
