  
@{
    ViewBag.Title = "控制台";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .row div {
        text-align: center;
        font-size: 30px;
        margin-top: 200px;
    }
</style>
<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <span>欢迎使用</span>
            </div>
        </div>
    </div>
</body>

